# Datos

In [2]:
import numpy as np
import pandas as pd
import datetime

## Estado del servicio de energía en zonas no interconectadas

In [5]:
energias_original = pd.read_csv('C:/Users/Diego/Documents/TalentoTech/proyecto_final/Informacion_Sobre_Energia/Estado_de_la_prestaci_n_del_servicio_de_energ_a_en_Zonas_No_Interconectadas_20250702.csv')
energias_original.head()

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2024,6,3994102,1010671.0,7824.51,Jueves,06/20/2024 03:30:00 PM,24.00
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2024,6,127838,40378.0,256.00,Miércoles,06/05/2024 06:15:00 PM,24.00
2,91,AMAZONAS,91798,TARAPACA (ANM),91798000,TARAPACA (TARAPACA (ANM) - AMAZONAS),2024,6,26578,11917.0,101.43,Jueves,06/20/2024 06:30:00 PM,10.18
3,88,ARCHIPIÉLAGO DE SAN ANDRÉS y PROVIDENCIA,88564,PROVIDENCIA,88564000,PROVIDENCIA (PROVIDENCIA - ARCHIPIÉLAGO DE SAN...,2024,6,1284196,274864.0,2241.56,Miércoles,06/12/2024 02:15:00 PM,24.00
4,13,BOLÍVAR,13001,CARTAGENA DE INDIAS,13001007,ISLA FUERTE (CARTAGENA DE INDIAS - BOLÍVAR),2024,6,60724,28336.0,265.63,Domingo,06/30/2024 08:00:00 PM,9.40

In [6]:
energias_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4660 entries, 0 to 4659
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID DEPATAMENTO            4660 non-null   int64
 1   DEPARTAMENTO              4660 non-null   object
 2   ID MUNICIPIO              4660 non-null   int64
 3   MUNICIPIO                 4660 non-null   object
 4   ID LOCALIDAD              4660 non-null   int64
 5   LOCALIDAD                 4660 non-null   object
 6   AÑO SERVICIO              4660 non-null   int64
 7   MES SERVICIO              4660 non-null   int64
 8   ENERGÍA ACTIVA            4660 non-null   int64
 9   ENERGÍA REACTIVA          4660 non-null   float64
 10  POTENCIA MÁXIMA           4660 non-null   float64
 11  DÍA DE DEMANDA MÁXIMA     4659 non-null   object
 12  FECHA DE DEMANDA MÁXIMA   4660 non-null   object
 13  PROMEDIO DIARIO EN HORAS  4660 non-null   float64
dtypes: float64(3), int64(6), object(5)
memory usage: 509.8+ KB

## División poítica administrativa - Divapola

In [7]:
# División poítica administrativa - Divapola

divapola = pd.read_csv('C:/Users/Diego/Documents/TalentoTech/proyecto_final/Informacion_Sobre_Localizacion/Geoportal del DANE - Codificación Divipola.csv')
divapola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8420 entries, 0 to 8419
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Código Departamento                       8420 non-null   int64
 1   Código Municipio                          8420 non-null   int64
 2   Código Centro Poblado                     8420 non-null   int64
 3   Nombre Departamento                       8420 non-null   object
 4   Nombre Municipio                          8420 non-null   object
 5   Nombre Centro Poblado                     8420 non-null   object
 6   Tipo Centro Poblado                       8420 non-null   object
 7   Longitud                                  7664 non-null   float64
 8   Latitud                                   7664 non-null   float64
 9   Nombre Distrito                           494 non-null    object
 10  Municipio/Áreas No Municipalizadas (ANM)  8420 non-null   object
 11  Nombre Área Metropolitana                 403 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 789.5+ KB

In [5]:
divapola.head()

,Código Departamento,Código Municipio,Código Centro Poblado,Nombre Departamento,Nombre Municipio,Nombre Centro Poblado,Tipo Centro Poblado,Longitud,Latitud,Nombre Distrito,Municipio/Áreas No Municipalizadas (ANM),Nombre Área Metropolitana
0,5,5001,5001000,ANTIOQUIA,MEDELLÍN,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",CABECERA MUNICIPAL,-75.578661,6.250063,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ
1,5,5001,5001001,ANTIOQUIA,MEDELLÍN,PALMITAS,CENTRO POBLADO,-75.690039,6.343329,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ
2,5,5001,5001004,ANTIOQUIA,MEDELLÍN,SANTA ELENA,CENTRO POBLADO,-75.501293,6.210599,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ
3,5,5001,5001009,ANTIOQUIA,MEDELLÍN,ALTAVISTA,CENTRO POBLADO,-75.644721,6.220472,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ
4,5,5001,5001010,ANTIOQUIA,MEDELLÍN,AGUAS FRÍAS,CENTRO POBLADO,-75.635261,6.232665,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ

## Necesidad Básicas Insatisfechas (NBI) - Censo Nacional de Población y Vivienda (CNPV) 2018

In [10]:
censo = pd.read_excel('C:/Users/Diego/Documents/TalentoTech/proyecto_final/Informacion_Sobre_Censo_NBI/CNPV-2018-NBI-CENTROS-POBLADOS.xlsx', skiprows=8)
censo.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Personas en NBI (%),Personas en miseria (%),Componente vivienda (%),Componente Servicios (%),Componente Hacinamiento (%),Componente Inasistencia (%),Componente dependencia económica (%),Unnamed: 14
8555,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773020.0,EL PROGRESO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.0
8556,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773025.0,GUATURIBA,93.069307,90.099010,85.148515,85.148515,87.128713,11.881188,11.881188,101.0
8557,99,Vichada,99773.0,Cumaribo,Rural Disperso,99773999.0,CUMARIBO,92.249548,79.399682,80.374651,77.378540,49.057896,14.035712,21.846415,36514.0
8558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8559,Fuente: DANE -,Censo Nacional de Población y Vivienda (CNPV)...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# División de tablas para cargar en SQL

In [19]:
# Se hace esta función porque siempre se pasa a csv de la misma forma
def df_to_csv(df, nombre):
    df.to_csv(f'{nombre}.csv', index=False, encoding='utf-8-sig')

# Al hacer Merges los Id's quedan tipo float64, esta función cambia los float64 de la tabla a int64
def float_to_int(df):
    for col in df.select_dtypes(include='float64').columns:
        df[col] = df[col].astype('Int64')
    return(df)
    
# Función para poner ID's serial como en SQL
def id_serial(df, col):
    df[col] = range(1, len(df) + 1)

In [100]:
departamentos = divapola[['Código Departamento', 'Nombre Departamento']].drop_duplicates().dropna()
df_to_csv(departamentos, 'departamentos')
departamentos.head()

      Código Departamento Nombre Departamento
0                       5           ANTIOQUIA
768                     8           ATLÁNTICO
853                    11       BOGOTÁ, D. C.
864                    13             BOLÍVAR
1354                   15              BOYACÁ

In [106]:
distritos = divapola[['Nombre Distrito']].drop_duplicates().dropna()
id_serial(distritos, 'id_distrito')
df_to_csv(distritos, 'distritos')
distritos.head(10)

                                        Nombre Distrito  id_distrito
0     MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...            1
661   TURBO, DISTRITO ESPECIAL, PORTUARIO, LOGÍSTICO...            2
768   BARRANQUILLA, DISTRITO ESPECIAL, INDUSTRIAL Y ...            3
853                           BOGOTÁ, DISTRITO CAPITAL.            4
864   CARTAGENA DE INDIAS, DISTRITO TURÍSTICO, HISTÓ...            5
1132  SANTA CRUZ DE MOMPÓX, DISTRITO ESPECIAL, TURÍS...            6
4522  RÍOHACHA, DISTRITO ESPECIAL, TURÍSTICO, Y CULT...            7
4732  SANTA MARTA, DISTRITO TURÍSTICO, CULTURAL E HI...            8
5671  SAN ANDRÉS DE TUMACO, DISTRITO ESPECIAL, INDUS...            9
6300  BARRANCABERMEJA, DISTRITO ESPECIAL, PORTUARIO,...           10

In [107]:
area_metropolitana = divapola[['Nombre Área Metropolitana']].drop_duplicates().dropna()
id_serial(area_metropolitana, 'id_area_metropolitana')
df_to_csv(area_metropolitana, 'area_metropolitana')
area_metropolitana

                          Nombre Área Metropolitana  id_area_metropolitana
0            AREA METROPOLITANA DEL VALLE DE ABURRÁ                      1
768              AREA METROPOLITANA DE BARRANQUILLA                      2
2580  AREA METROPOLITANA DEL VALLE DEL CACIQUE UPAR                      3
5819                   AREA METROPOLITANA DE CÚCUTA                      4
6109         AREA METROPOLITANA DE CENTRO OCCIDENTE                      5
6278              AREA METROPOLITANA DE BUCARAMANGA                      6

In [108]:
tipo_centro_poblado = divapola[['Tipo Centro Poblado']].drop_duplicates()   
id_serial(tipo_centro_poblado, 'id_tipo_centro_poblado')
df_to_csv(tipo_centro_poblado, 'tipo_centro_poblado')
tipo_centro_poblado

  Tipo Centro Poblado  id_tipo_centro_poblado
0  CABECERA MUNICIPAL                       1
1      CENTRO POBLADO                       2

In [109]:
tipo_municipio = divapola[['Municipio/Áreas No Municipalizadas (ANM)']].drop_duplicates()
id_serial(tipo_municipio, 'id_tipo_municipio')
df_to_csv(tipo_municipio, 'tipo_municipio')
tipo_municipio

     Municipio/Áreas No Municipalizadas (ANM)  id_tipo_municipio
0                                   MUNICIPIO                  1
8149                                     ISLA                  2
8191                   AREA NO MUNICIPALIZADA                  3

## Tabla de municipios

In [ ]:
municipios = divapola[['Código Municipio', 'Nombre Municipio', 'Código Departamento', 'Nombre Distrito', 'Municipio/Áreas No Municipalizadas (ANM)', 'Nombre Área Metropolitana']].drop_duplicates()                  
municipios.head()

,Código Municipio,Nombre Municipio,Código Departamento,Nombre Distrito,Municipio/Áreas No Municipalizadas (ANM),Nombre Área Metropolitana
0,5001,MEDELLÍN,5,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ
28,5002,ABEJORRAL,5,NaN,MUNICIPIO,NaN
32,5004,ABRIAQUÍ,5,NaN,MUNICIPIO,NaN
34,5021,ALEJANDRÍA,5,NaN,MUNICIPIO,NaN
35,5030,AMAGÁ,5,NaN,MUNICIPIO,NaN

In [ ]:
municipios_map = (
    municipios
    .merge(distritos, on='Nombre Distrito', how='left')
    .merge(tipo_municipio, on='Municipio/Áreas No Municipalizadas (ANM)', how='left')
    .merge(area_metropolitana, on='Nombre Área Metropolitana', how='left')
)

float_to_int(municipios_map)

,Código Municipio,Nombre Municipio,Código Departamento,Nombre Distrito,Municipio/Áreas No Municipalizadas (ANM),Nombre Área Metropolitana,id_distrito,id_tipo_municipio,id_area_metropolitana
0,5001,MEDELLÍN,5,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",MUNICIPIO,AREA METROPOLITANA DEL VALLE DE ABURRÁ,1,1,1
1,5002,ABEJORRAL,5,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
2,5004,ABRIAQUÍ,5,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
3,5021,ALEJANDRÍA,5,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
4,5030,AMAGÁ,5,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
...,...,...,...,...,...,...,...,...,...
1117,97889,YAVARATÉ (ANM),97,NaN,AREA NO MUNICIPALIZADA,NaN,<NA>,3,<NA>
1118,99001,PUERTO CARREÑO,99,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
1119,99524,LA PRIMAVERA,99,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
1120,99624,SANTA ROSALÍA,99,NaN,MUNICIPIO,NaN,<NA>,1,<NA>
1121,99773,CUMARIBO,99,NaN,MUNICIPIO,NaN,<NA>,1,<NA>

In [122]:
municipios_map = municipios_map.drop(columns=['Nombre Distrito', 'Municipio/Áreas No Municipalizadas (ANM)', 'Nombre Área Metropolitana'])
df_to_csv(municipios_map, 'municipios')
municipios_map

,Código Municipio,Nombre Municipio,Código Departamento,id_distrito,id_tipo_municipio,id_area_metropolitana
0,5001,MEDELLÍN,5,1,1,1
1,5002,ABEJORRAL,5,<NA>,1,<NA>
2,5004,ABRIAQUÍ,5,<NA>,1,<NA>
3,5021,ALEJANDRÍA,5,<NA>,1,<NA>
4,5030,AMAGÁ,5,<NA>,1,<NA>
...,...,...,...,...,...,...
1117,97889,YAVARATÉ (ANM),97,<NA>,3,<NA>
1118,99001,PUERTO CARREÑO,99,<NA>,1,<NA>
1119,99524,LA PRIMAVERA,99,<NA>,1,<NA>
1120,99624,SANTA ROSALÍA,99,<NA>,1,<NA>
1121,99773,CUMARIBO,99,<NA>,1,<NA>

## Tabla de centros poblados

In [125]:
divapola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8420 entries, 0 to 8419
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Código Departamento                       8420 non-null   int64
 1   Código Municipio                          8420 non-null   int64
 2   Código Centro Poblado                     8420 non-null   int64
 3   Nombre Departamento                       8420 non-null   object
 4   Nombre Municipio                          8420 non-null   object
 5   Nombre Centro Poblado                     8420 non-null   object
 6   Tipo Centro Poblado                       8420 non-null   object
 7   Longitud                                  7664 non-null   float64
 8   Latitud                                   7664 non-null   float64
 9   Nombre Distrito                           494 non-null    object
 10  Municipio/Áreas No Municipalizadas (ANM)  8420 non-null   object
 11  Nombre Área Metropolitana                 403 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 789.5+ KB

In [130]:
centros_poblados = divapola[['Código Centro Poblado', 'Nombre Centro Poblado', 'Tipo Centro Poblado', 'Código Municipio', 'Longitud', 'Latitud']].drop_duplicates()
centros_poblados.head()

,Código Centro Poblado,Nombre Centro Poblado,Tipo Centro Poblado,Código Municipio,Longitud,Latitud
0,5001000,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",CABECERA MUNICIPAL,5001,-75.578661,6.250063
1,5001001,PALMITAS,CENTRO POBLADO,5001,-75.690039,6.343329
2,5001004,SANTA ELENA,CENTRO POBLADO,5001,-75.501293,6.210599
3,5001009,ALTAVISTA,CENTRO POBLADO,5001,-75.644721,6.220472
4,5001010,AGUAS FRÍAS,CENTRO POBLADO,5001,-75.635261,6.232665

In [132]:
centros_poblados_map = centros_poblados.merge(tipo_centro_poblado, on = 'Tipo Centro Poblado', how='left')
centros_poblados_map

,Código Centro Poblado,Nombre Centro Poblado,Tipo Centro Poblado,Código Municipio,Longitud,Latitud,id_tipo_centro_poblado
0,5001000,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",CABECERA MUNICIPAL,5001,-75.578661,6.250063,1
1,5001001,PALMITAS,CENTRO POBLADO,5001,-75.690039,6.343329,2
2,5001004,SANTA ELENA,CENTRO POBLADO,5001,-75.501293,6.210599,2
3,5001009,ALTAVISTA,CENTRO POBLADO,5001,-75.644721,6.220472,2
4,5001010,AGUAS FRÍAS,CENTRO POBLADO,5001,-75.635261,6.232665,2
...,...,...,...,...,...,...,...
8415,99773050,AMANECER,CENTRO POBLADO,99773,NaN,NaN,2
8416,99773051,SEGALITO UNO,CENTRO POBLADO,99773,NaN,NaN,2
8417,99773052,LA GARATA,CENTRO POBLADO,99773,NaN,NaN,2
8418,99773053,DELFIN,CENTRO POBLADO,99773,NaN,NaN,2
8419,99773054,SAN BENITO,CENTRO POBLADO,99773,NaN,NaN,2

In [133]:
centros_poblados_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8420 entries, 0 to 8419
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código Centro Poblado   8420 non-null   int64
 1   Nombre Centro Poblado   8420 non-null   object
 2   Tipo Centro Poblado     8420 non-null   object
 3   Código Municipio        8420 non-null   int64
 4   Longitud                7664 non-null   float64
 5   Latitud                 7664 non-null   float64
 6   id_tipo_centro_poblado  8420 non-null   int64
dtypes: float64(2), int64(3), object(2)
memory usage: 460.6+ KB

In [134]:
centros_poblados_map = centros_poblados_map.drop(columns=['Tipo Centro Poblado'])
centros_poblados_map

,Código Centro Poblado,Nombre Centro Poblado,Código Municipio,Longitud,Latitud,id_tipo_centro_poblado
0,5001000,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",5001,-75.578661,6.250063,1
1,5001001,PALMITAS,5001,-75.690039,6.343329,2
2,5001004,SANTA ELENA,5001,-75.501293,6.210599,2
3,5001009,ALTAVISTA,5001,-75.644721,6.220472,2
4,5001010,AGUAS FRÍAS,5001,-75.635261,6.232665,2
...,...,...,...,...,...,...
8415,99773050,AMANECER,99773,NaN,NaN,2
8416,99773051,SEGALITO UNO,99773,NaN,NaN,2
8417,99773052,LA GARATA,99773,NaN,NaN,2
8418,99773053,DELFIN,99773,NaN,NaN,2
8419,99773054,SAN BENITO,99773,NaN,NaN,2

In [135]:
df_to_csv(centros_poblados_map, 'centros_poblados')

## Tabla de energías

In [3]:
# Estado del servicio de energía en zonas no interconectadas

energias = energias_original
energias['FECHA DE DEMANDA MÁXIMA'] = pd.to_datetime(energias['FECHA DE DEMANDA MÁXIMA'], format='%m/%d/%Y %I:%M:%S %p')
energias = energias.drop(columns=['AÑO SERVICIO', 'MES SERVICIO', 'DÍA DE DEMANDA MÁXIMA', 'LOCALIDAD', 'DEPARTAMENTO', 'MUNICIPIO'])
energias.head()

# energias['FECHA DE DEMANDA MÁXIMA'].dt.day_name()     # Para saber día de la semana

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,91001,91001000,3994102,1010671.0,7824.51,2024-06-20 15:30:00,24.00
1,91,91540,91540000,127838,40378.0,256.00,2024-06-05 18:15:00,24.00
2,91,91798,91798000,26578,11917.0,101.43,2024-06-20 18:30:00,10.18
3,88,88564,88564000,1284196,274864.0,2241.56,2024-06-12 14:15:00,24.00
4,13,13001,13001007,60724,28336.0,265.63,2024-06-30 20:00:00,9.40

In [22]:
energias_map = energias.drop(columns=['ID DEPATAMENTO', 'ID MUNICIPIO'])
df_to_csv(energias_map, 'energias')
energias_map.head()

,ID LOCALIDAD,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91001000,3994102,1010671.0,7824.51,2024-06-20 15:30:00,24.00
1,91540000,127838,40378.0,256.00,2024-06-05 18:15:00,24.00
2,91798000,26578,11917.0,101.43,2024-06-20 18:30:00,10.18
3,88564000,1284196,274864.0,2241.56,2024-06-12 14:15:00,24.00
4,13001007,60724,28336.0,265.63,2024-06-30 20:00:00,9.40

In [ ]:
faltantes = energias.merge(divapola, left_on='ID LOCALIDAD', right_on='Código Centro Poblado', how='left')
faltantes.head()

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS,Código Departamento,Código Municipio,Código Centro Poblado,Nombre Departamento,Nombre Municipio,Nombre Centro Poblado,Tipo Centro Poblado,Longitud,Latitud,Nombre Distrito,Municipio/Áreas No Municipalizadas (ANM),Nombre Área Metropolitana
0,91,91001,91001000,3994102,1010671.0,7824.51,2024-06-20 15:30:00,24.00,91.0,91001.0,91001000.0,AMAZONAS,LETICIA,LETICIA,CABECERA MUNICIPAL,-69.941465,-4.199511,NaN,MUNICIPIO,NaN
1,91,91540,91540000,127838,40378.0,256.00,2024-06-05 18:15:00,24.00,91.0,91540.0,91540000.0,AMAZONAS,PUERTO NARIÑO,PUERTO NARIÑO,CABECERA MUNICIPAL,-70.365072,-3.781110,NaN,MUNICIPIO,NaN
2,91,91798,91798000,26578,11917.0,101.43,2024-06-20 18:30:00,10.18,91.0,91798.0,91798000.0,AMAZONAS,TARAPACÁ (ANM),TARAPACÁ,CENTRO POBLADO,-69.741745,-2.890126,NaN,AREA NO MUNICIPALIZADA,NaN
3,88,88564,88564000,1284196,274864.0,2241.56,2024-06-12 14:15:00,24.00,88.0,88564.0,88564000.0,"ARCHIPIÉLAGO DE SAN ANDRÉS, PROVIDENCIA Y SANT...",PROVIDENCIA,SANTA ISABEL,CABECERA MUNICIPAL,-81.370912,13.370100,NaN,MUNICIPIO,NaN
4,13,13001,13001007,60724,28336.0,265.63,2024-06-30 20:00:00,9.40,13.0,13001.0,13001007.0,BOLÍVAR,CARTAGENA DE INDIAS,ISLA FUERTE,CENTRO POBLADO,-76.179474,9.381558,"CARTAGENA DE INDIAS, DISTRITO TURÍSTICO, HISTÓ...",MUNICIPIO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4655,97,97001,97001000,1636975,387915.0,3409.98,2025-03-13 11:45:00,23.84,97.0,97001.0,97001000.0,VAUPÉS,MITÚ,MITÚ,CABECERA MUNICIPAL,-70.232641,1.253151,NaN,MUNICIPIO,NaN
4656,97,97161,97161000,38728,6806.0,95.30,2025-03-25 18:30:00,17.06,97.0,97161.0,97161000.0,VAUPÉS,CARURÚ,CARURÚ,CABECERA MUNICIPAL,-71.297793,1.014598,NaN,MUNICIPIO,NaN
4657,97,97666,97666000,45876,12716.0,134.82,2025-03-20 18:30:00,14.51,97.0,97666.0,97666000.0,VAUPÉS,TARAIRA,TARAIRA,CABECERA MUNICIPAL,-69.634271,-0.566224,NaN,MUNICIPIO,NaN
4658,99,99001,99001000,3125928,768017.0,5734.08,2025-03-13 14:00:00,23.69,99.0,99001.0,99001000.0,VICHADA,PUERTO CARREÑO,PUERTO CARREÑO,CABECERA MUNICIPAL,-67.487095,6.186636,NaN,MUNICIPIO,NaN
4659,99,99773,99773000,426253,150920.0,831.79,2025-03-26 15:00:00,23.73,99.0,99773.0,99773000.0,VICHADA,CUMARIBO,CUMARIBO,CABECERA MUNICIPAL,-69.795533,4.446352,NaN,MUNICIPIO,NaN

In [ ]:
faltantes2 = faltantes[faltantes['Código Centro Poblado'].isna()]
faltantes2.head()

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS,Código Departamento,Código Municipio,Código Centro Poblado,Nombre Departamento,Nombre Municipio,Nombre Centro Poblado,Tipo Centro Poblado,Longitud,Latitud,Nombre Distrito,Municipio/Áreas No Municipalizadas (ANM),Nombre Área Metropolitana
12,19,19809,19809014,3571,875.0,22.00,2024-06-22 18:45:00,7.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,27,27077,27077905,4215,1621.0,18.40,2024-06-03 19:45:00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,27077,27077916,5300,2263.0,27.79,2024-06-10 11:45:00,10.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,27,27495,27495912,7888,1820.0,11.50,2024-06-28 07:15:00,23.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,27,27615,27615011,465,176.0,4.33,2024-06-18 19:00:00,4.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4634,94,94001,94001916,2918,681.0,9.81,2025-02-26 19:00:00,23.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,94,94343,94343901,1773,238.0,4.29,2025-02-08 19:15:00,23.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4650,94,94001,94001905,5706,139.0,19.44,2025-03-20 20:15:00,16.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4651,94,94001,94001916,3290,540.0,9.92,2025-03-25 19:30:00,23.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4652,94,94343,94343901,1143,142.0,4.36,2025-03-01 19:15:00,14.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
faltantes3 = faltantes2['ID LOCALIDAD'].unique()
faltantes3

array([19809014, 27077905, 27077916, 27495912, 27615011, 94001916,
       94001905, 52250016, 52250005, 52250007, 52390005, 52427913,
       52427915, 52490913, 52621912, 52835055, 76109105, 27075001,
       27491004, 94343901, 52427910, 19418033, 19418011, 19418015,
       27025034, 27250913, 27361023, 27361048, 27450019, 94001966,
       76109957, 52520013, 52427013, 52427901, 27450016, 27615912,
       27615930, 27361021, 27450903, 27250914, 19418007, 76109930,
       76109817, 76109863, 76109904, 76109907, 76109913])

In [52]:
info_faltante = energias[energias['ID LOCALIDAD'].isin(faltantes3)]
info_faltante = info_faltante[['ID LOCALIDAD', 'ID MUNICIPIO']].drop_duplicates()
df_to_csv(info_faltante, 'info_faltante')

## Tabla del censo y NBI

In [16]:
censo = censo.drop([8558, 8559])

In [17]:
censo = censo.rename(columns={
    'Unnamed: 0': 'Código de departamento',
    'Unnamed: 1': 'Departamento',
    'Unnamed: 2': 'Código de municipio',
    'Unnamed: 3': 'Municipio',
    'Unnamed: 4': 'Clase',
    'Unnamed: 5': 'Código de centro poblado',
    'Unnamed: 6': 'Centro Poblado',
    'Unnamed: 14': 'Total personas en hogares particulares'
})

censo['Total personas en hogares particulares'] = censo['Total personas en hogares particulares'].astype('Int64')
censo.tail()

,Código de departamento,Departamento,Código de municipio,Municipio,Clase,Código de centro poblado,Centro Poblado,Personas en NBI (%),Personas en miseria (%),Componente vivienda (%),Componente Servicios (%),Componente Hacinamiento (%),Componente Inasistencia (%),Componente dependencia económica (%),Total personas en hogares particulares
8553,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773010.0,PUERTO PRÍNCIPE,46.666667,23.333333,36.666667,33.333333,0.000000,0.000000,0.000000,30
8554,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773015.0,SANTA RITA,51.358696,32.065217,30.978261,23.097826,25.543478,8.967391,19.565217,368
8555,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773020.0,EL PROGRESO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8
8556,99,Vichada,99773.0,Cumaribo,Centro Poblado,99773025.0,GUATURIBA,93.069307,90.099010,85.148515,85.148515,87.128713,11.881188,11.881188,101
8557,99,Vichada,99773.0,Cumaribo,Rural Disperso,99773999.0,CUMARIBO,92.249548,79.399682,80.374651,77.378540,49.057896,14.035712,21.846415,36514

In [18]:
censo['Código de municipio'] = censo['Código de municipio'].astype(int)
censo['Código de centro poblado'] = censo['Código de centro poblado'].astype(int)

censo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 15 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Código de departamento                  8558 non-null   object
 1   Departamento                            8558 non-null   object
 2   Código de municipio                     8558 non-null   int64
 3   Municipio                               8558 non-null   object
 4   Clase                                   8558 non-null   object
 5   Código de centro poblado                8558 non-null   int64
 6   Centro Poblado                          8558 non-null   object
 7   Personas en NBI (%)                     8558 non-null   float64
 8    Personas en miseria (%)                8558 non-null   float64
 9   Componente vivienda (%)                 8558 non-null   float64
 10  Componente Servicios (%)                8558 non-null   float64
 11  Componente Hacinamiento (%)             8558 non-null   float64
 12  Componente Inasistencia (%)             8558 non-null   float64
 13  Componente dependencia económica (%)    8558 non-null   float64
 14  Total personas en hogares particulares  8558 non-null   Int64
dtypes: Int64(1), float64(7), int64(2), object(5)
memory usage: 1011.4+ KB

In [69]:
censo.head()

,Código de departamento,Departamento,Código de municipio,Municipio,Clase,Código de centro poblado,Centro Poblado,Personas en NBI (%),Personas en miseria (%),Componente vivienda (%),Componente Servicios (%),Componente Hacinamiento (%),Componente Inasistencia (%),Componente dependencia económica (%),Total personas en hogares particulares
0,05,Antioquia,5001,Medellín,Cabecera municipal,5001000,MEDELLÍN,5.173499,0.406939,0.265963,0.186618,1.541128,1.600519,2.030128,2320248
1,05,Antioquia,5001,Medellín,Centro Poblado,5001001,PALMITAS,3.956044,1.538462,0.000000,0.000000,2.417582,1.538462,1.538462,455
2,05,Antioquia,5001,Medellín,Centro Poblado,5001004,SANTA ELENA,7.455013,0.000000,0.771208,0.000000,3.084833,1.285347,2.313625,389
3,05,Antioquia,5001,Medellín,Centro Poblado,5001009,ALTAVISTA,13.684211,0.000000,0.000000,0.000000,3.859649,4.912281,4.912281,285
4,05,Antioquia,5001,Medellín,Centro Poblado,5001010,AGUAS FRÍAS,9.615385,0.641026,0.414781,0.000000,2.262443,4.166667,3.412519,5304

In [82]:
censo_map = censo.drop(columns=['Código de departamento', 'Departamento', 'Código de municipio', 'Municipio', 'Clase', 'Centro Poblado'])
df_to_csv(censo_map, 'cnpv_nbi')
censo_map.head()

,Código de centro poblado,Personas en NBI (%),Personas en miseria (%),Componente vivienda (%),Componente Servicios (%),Componente Hacinamiento (%),Componente Inasistencia (%),Componente dependencia económica (%),Total personas en hogares particulares
0,5001000,5.173499,0.406939,0.265963,0.186618,1.541128,1.600519,2.030128,2320248
1,5001001,3.956044,1.538462,0.000000,0.000000,2.417582,1.538462,1.538462,455
2,5001004,7.455013,0.000000,0.771208,0.000000,3.084833,1.285347,2.313625,389
3,5001009,13.684211,0.000000,0.000000,0.000000,3.859649,4.912281,4.912281,285
4,5001010,9.615385,0.641026,0.414781,0.000000,2.262443,4.166667,3.412519,5304

In [ ]:
# Voy a verificar datos que estan en censo pero no en divapola, debo exportar los datos desde sql y no verlos en la tabla divapola porque ya añadí en sql los datos que no estaban en energías, por lo tanto,
# la tabla de divapola no está actualizada.

centros_poblados_sql = pd.read_csv('centros_poblados_sql.csv')
centros_poblados_sql.head()

,id_centro_poblado,centro_poblado,id_municipio,longitud,latitud,id_clase
0,5001000,"MEDELLÍN, DISTRITO ESPECIAL DE CIENCIA, TECNOL...",5001,-75.578661,6.250063,1.0
1,5001001,PALMITAS,5001,-75.690039,6.343329,2.0
2,5001004,SANTA ELENA,5001,-75.501293,6.210599,2.0
3,5001009,ALTAVISTA,5001,-75.644721,6.220472,2.0
4,5001010,AGUAS FRÍAS,5001,-75.635261,6.232665,2.0

In [92]:
faltantesm_nbi = censo.merge(centros_poblados_sql, left_on='Código de municipio', right_on='id_municipio', how='left')
faltantesm_nbi2 = faltantesm_nbi[faltantesm_nbi['id_municipio'].isna()]
faltantesm_nbi3 = faltantesm_nbi2['Código de municipio'].unique()
info_faltantem_nbi = censo[censo['Código de municipio'].isin(faltantesm_nbi3)]
info_faltantem_nbi = info_faltantem_nbi[['Código de municipio', 'Centro Poblado', 'Código de municipio', 'Clase']].drop_duplicates()

info_faltantem_nbi.tail()

      Código de municipio Centro Poblado  Código de municipio           Clase
8449                94663     MAPIRIPANA                94663  Rural Disperso

In [89]:
faltantes_nbi = censo.merge(centros_poblados_sql, left_on='Código de centro poblado', right_on='id_centro_poblado', how='left')
faltantes_nbi2 = faltantes_nbi[faltantes_nbi['id_centro_poblado'].isna()]
faltantes_nbi3 = faltantes_nbi2['Código de centro poblado'].unique()
info_faltante_nbi = censo[censo['Código de centro poblado'].isin(faltantes_nbi3)]
info_faltante_nbi = info_faltante_nbi[['Código de centro poblado', 'Centro Poblado', 'Código de municipio', 'Clase']].drop_duplicates()

info_faltante_nbi.tail()

,Código de centro poblado,Centro Poblado,Código de municipio,Clase
8532,97889999,YAVARATÉ,97889,Rural Disperso
8540,99001999,PUERTO CARREÑO,99001,Rural Disperso
8544,99524999,LA PRIMAVERA,99524,Rural Disperso
8547,99624999,SANTA ROSALÍA,99624,Rural Disperso
8557,99773999,CUMARIBO,99773,Rural Disperso

In [90]:
rural_disperso = {
    'Rural Disperso': 3
}

info_faltante_nbi['Clase'] = info_faltante_nbi.iloc[:,3].map(rural_disperso)
float_to_int(info_faltante_nbi)

info_faltante_nbi

      Código de centro poblado  Centro Poblado  Código de municipio  Clase
27                     5001999        MEDELLÍN                 5001      3
32                     5002999       ABEJORRAL                 5002      3
35                     5004999        ABRIAQUÍ                 5004      3
37                     5021999      ALEJANDRÍA                 5021      3
47                     5030999           AMAGÁ                 5030      3
...                        ...             ...                  ...    ...
8532                  97889999        YAVARATÉ                97889      3
8540                  99001999  PUERTO CARREÑO                99001      3
8544                  99524999    LA PRIMAVERA                99524      3
8547                  99624999   SANTA ROSALÍA                99624      3
8557                  99773999        CUMARIBO                99773      3

[1242 rows x 4 columns]

In [91]:
df_to_csv(info_faltante_nbi, 'info_faltante_nbi')